<app-navbar></app-navbar>
<app-navbar></app-navbar>
<app-navbar></app-navbar>
<div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary" (change)="changeState()" data-bs-toggle="modal"
        data-bs-target="#courseModal">Inscribir alumno</button>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row" style="margin-top: 25px">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Horas totales</th>
          <th scope="col">Fecha inscripcion</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of enrollmentList">
          <td> {{ item.id }}</td>
          <td> {{ item.name }}</td>
          <td> {{ item.alumno }}</td>
          <td> {{ item.fecha }}</td>
          <td><button style="width: 120px" type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#courseModal" (click)="editEnrollment()">
              Editar</button></td>
          <td><button style="width: 120px" (click)="deleteErollment(item.id)" type="button" class="btn btn-danger">
              Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="courseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="courseModalLabel">Gestionar matriculas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEnrollment">
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="user">
              <option selected>Open this select menu</option>
              <option *ngFor="let user of userList" [ngValue]="user.id">{{ user.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="course">
              <option selected>Open this select menu</option>
              <option *ngFor="let course of coursesList" [ngValue]="course.id">{{ course.name }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="createEnrollment()">Registrar</button>
        <button type="button" class="btn btn-primary" (click)="editEnrollment()">Editar</button>
      </div>
    </div>
  </div>
</div>
