<app-navbar></app-navbar>
<section style="margin-top: 15%">
  <div class="container">
    <h1>Bienvenido</h1>
    <div class="card">
      <img src="assets/students_09.jpg" class="card-img-top" alt="..." style="width:20%">
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore eveniet impedit,
          molestias voluptatum saepe, doloremque ullam error totam numquam provident possimus dignissimos dolorem hic,
          non voluptatibus! Magnam distinctio commodi ab.</p>
      </div>
    </div>
  </div>
</section>
